<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp - URLs</title>
</head>
<body>
  <h1>My URLs</h1>
  <ul>
    <% for (let id in urls) { %>
      <li>
        Long URL: <%= urls[id] %>
        <br>
        Short URL ID: <a href="/urls/<%= id %>"><%= id %></a>
      </li>
    <% } %>
  </ul>
</body>
</html>